.container{    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    .form{         
        background-color: rgba(103, 194, 210, 0.767);       
        flex-direction: column;    
        height: 50vh;
        width: 40rem;
        padding: 1rem 1rem; 
        h2{
            margin-top: 2rem;
        }
        #main{
            flex-direction: column;
            input,button{
             margin-top: 1.5rem;        
            }
            input{           
                font-size: 1.2rem;
                padding: 0.5rem;
                width: 30rem;
                border-radius: 0.3rem;
                border: none;
            }
            .eye{                
                position: relative;            
                svg{
                    position: absolute;
                    top: 50%;
                    right: 0.6rem;
                    z-index: 100;
                    cursor: pointer;
                }
            }
        }
        #bottom{
            margin-bottom: 1rem;
            font-size: 1.2rem;
           a{
            color: black;
            font-weight: 500;
            font-size: 1.2rem;
            &:hover{
                color: #525252;
            }
           } 
        }
    }
}