.task{
    border: 1px solid rgba(1, 11, 52, 0.559);
    min-width: 40rem; 
    max-width: 40rem; 
    font-family: monospace; 
    padding: 0.2rem 0.6rem;
    font-size: 1.4rem;
    margin: 0.8rem 0rem;
    border-radius: 0.3rem;
    background-color: #87e8faaf;
    .desc{
        font-size: 1.1rem;
        color: rgb(46, 46, 46);
    }

    .tools{
        // border: 2px solid black;    
        .circle{
            width: 1.8rem;
            height: 1.7rem;
            border: 2px solid rgb(29, 21, 21);
            border-radius: 0.4rem;
            color: rgb(27, 22, 22);
            text-align: center;     
            cursor: pointer;   
        }
        .delete{
            margin-left: 0.8rem;
            margin-right: 0.2rem;
            font-size: 1.2rem;
            color: rgb(2, 2, 2);
            cursor: pointer;
            &:hover{
                color: rgb(104, 104, 104);
            }
        }
        .checked{
            background-color: rgb(167, 231, 142);
            color: rgb(209, 5, 5);
            font-weight: 800;
            font-size: 1.2rem;
            height: 1.7rem;
            box-sizing: border-box;
            // text-shadow: 0 0 0.32rem rgb(29, 24, 76);
            // padding: 0.2rem;
        }
    }
}