*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: monospace;
}
.btn{
    background-color: black;
    color: white;
    transition: 0.1s linear;
    font-size: 1.3rem;
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    border: 1px solid rgb(45, 44, 44);
    &:hover{
        background-color: white;
        color: black;
    }
    &:active{        
        transform: scale(0.94);
    }
}
.center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) and (min-width: 512px){
    html{
        font-size: 80%;
    }
}
@media screen and (max-width: 512px){
    html{
        font-size: 70%;
    }
    .container{        
        .form{            
            width: 33rem;
            input{
                width: 5rem;
            }
        }
    }    
    .task{
        min-width: 37rem;
        max-width: 37rem;
    }
}